
/** ABOUT CHEF TPL **/
section#about-chef {
    background-color: $color_front-lbrwn;
    color: #fff;
    padding-top: 41px;
    padding-bottom: 60px;
    h3 {
        color: #fff;
    }
}


div.photo-wrap {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.photo-wrap img {
  border-radius: 2%;
  height: 350px;
  display: block;
  margin: auto;
  -webkit-clip-path: inset(30px 10px 30px 10px);
  clip-path: ellipse(150px 168px at 49% 49%);
}
.block-tpl.chefs {
  font-size: 18px;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
}

.block-tpl.chefs p, .block-tpl.menus p {
    margin: 0px 10px 10px 15px;
}
.p-title {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 12px;
  margin-bottom: 50px;
}
.b-title-white .p-title {
  color: white;
}

.p-title::after, .page-template-_menupack h1.page-title::after {
  // position: absolute;
  left: calc(50% - 100px);
  margin: 1px auto;
  bottom: 0;
  width: 30%;
  height: 2px;
  background: $color_front-gold;
  content: "---";
  color: $color_front-gold;
  -webkit-transform: translateY(-50%, -10%);
    -moz-transform: translateY(-50%, -10%);
    -ms-transform: translateY(-50%, -10%);
    transform: translateY(-50%, -10px);
    display:flex;
    flex-direction: row;
    justify-content: center;
     vertical-align: middle;
     /* align-items: center: */
}
#services .p-title::after{ width: 150px;}
#about-menu .p-title::after{ width: 35%; }
#occassion .p-title::after{ width: 50%; }
#about-chef .p-title::after{ width: 70%; }
#about-ambi .p-title::after{ width: 35%; }
#cont-loc .logos .p-title::after{ width: 250px; }
#primary .page-title::after{ width: 200px; }
#mywork .mail-subscription .p-title::after{ width: 300px; }
#mywork .careers .p-title::after{ width: 200px; }


section.logos .p-title::after {
  left: calc(50% - 100px);
}
section.logos h3, section.mail-subscription h3, section.careers h3 {
 color: black;
}

section.mail-subscription {
  margin-bottom: 40px;
}
