
/* modals */
.modal-header {
    background-color: #5a5c51;
    .close span {
      color: #fff;
    }
}
.modal-title {
   color: white;
}
.modal .modal-body {
    color: black;
}
label input.form-control {
    display: inline;
}
.modal-body .mc4wp-notice, .modal-body .mc4wp-error {
  color: red;
}
