/* gallery ambience */

div.ngg-galleryoverview {
  display: flex !important;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: center;
}

.ngg-gallery-thumbnail-box {
  margin: 0 auto;
}

div#galfood {
    padding-bottom: 20px;
}


@media screen and (max-width: 649px) {
  div.ngg-galleryoverview {
    display: block !important;
    text-align: center;
    .ngg-gallery-thumbnail-box {
      float: none;
      display: inline-block;
    }
  }
}
