
/* location, mailing & career */

div#mywork {
    background-color: $color_front-lbrwn;
    padding: 80px 15px 100px 15px;
    color: #fff;
}
.mail-career h3.p-title {
    color: #fff;
}

 /* .site-branding {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  min-height: 65px;
  justify-content: center;
  text-align:center;
} */
