
/*widget sidebar*/

div#custom_html-2 {
  @include font-size(.8);
  .confit-phone {
    padding-bottom: 20px;
    a { text-decoration: none;}
    i:before {
      color: $color-front-gold;
    }
    span {
      color: $color-front-gold;
    }
  }
  .confit-address a {
      text-decoration: none;
      color: #fff;
  }
}



a#toggle-mobile-sidebar:hover {
    color: #fff;
}

a.more-link , #main span a, #posts .entry-title a, #primary a.menu-group-nav-link  {
  text-decoration: none;
}


/* carousel wrapper rbtm */

#top.home #page .front-page-widgets-wrapper {
  margin-bottom: 0;
}
/* widget - new food items */
div.execphpwidget {
  li a.w-title {
    display: inline-block;
    &:hover {
      color: $color_front-lbrwn;
      border-bottom: 2px solid $color_front-lbrwn;
    }
  }

    li span {
      display: block;
      @include font__script($font-fam2, 0.8, $color-blk2, 70, 1);
      text-decoration: none;
        a {
          color: $color_front-drkbrwn;
          @include font-size(.65);
        }
    }
    small {
      &:before {
          content: ' | ';
      }
    }
    mark.unicode {
      background-color: transparent;
      box-shadow: 0.38em 0 0 transparent, -0.38em 0 0 transparent;
      &:before {
        content: "\1F374";
      }
    }
}


#pods_widget_list-3 li a,
#recent-posts-2 li a,
.execphpwidget li a {
  @include font__script('Droid Serif', 1, $color_front-lbrwn-b, 400, 1.4);
  &:hover {
    color: $color_front-lbrwn;
    border-bottom: 2px solid $color_front-lbrwn;
    text-decoration: none;
  }

}


/*unicode */
#pods_widget_list-3 li {
  &:before {
    // content: "\f460";
    // font-family: 'Genericons';
    content: "\e603";
    font-family: 'nova-font';
    display: inline-block;
    // position: absolute;
  }
  a {
    margin-left: 15px;;
  }

}

/* hover link */
a.more-link:hover, #main .entry-meta span a:hover {
  border-bottom: 2px solid $color_front-lbrwn;
}


/** front page footer quick links **/

	%horizontal_widgets .widget {
			@include responsive( map_get( $breakpoint, 'm' ) ) {
				width: 95%;
			}
      @include responsive( map_get( $breakpoint, 'l' ) ) {
				width: 29.333%; // 3 columns by default
			}
  }


  footer#colophon ul#menu-quick-links li a, footer div.widget span, footer div.widget i::before{
    color: #fff;
  }

  footer#colophon ul#menu-quick-links li {
    border-top-style: none;
    border-bottom-style: none;
    &:before {
      content: '';
    }
  }

  @media only screen and (max-width: 879px) {
    footer#colophon {
      padding-top: 50px;
      div#custom_html-6 {
        margin-bottom: 7px;
      }
    }
  }

/* blockquote */

div#custom_html-3 blockquote {
    font-size: 0.9em;
    background: hsla(210, 11%, 15%, 0.45);
    padding: 1em 1em 1em 3em;
    font-family: $font-fam2;
    margin: 0;
    text-align: left;
    &:before {
          display: block;
          width: 38%;
          height: 100%;
          position: absolute;
          top: -0.15em;
          left: -0.30em;
          content: "“";
          font-weight: bolder;
          font-size: 12em;
          // color: $color-blk;
          color: hsl(100, 1%, 60%);
          font-weight: 400;
          line-height: 100%;
          border-bottom: none;
          border-top: none;
    }
    &:after{
      content: "";
      border-top-width: 0;
      border-top-style: none;
      border-bottom-width: 0;
      border-bottom-style: none;
    }
}

@media screen and (max-width: 671px) {
  #custom_html-2, #custom_html-3{
    width: 100%;
  }
}
