

	/* MENU navigation */

	.menu-group-nav a {
	  background-color: darkgray;
	  color: black;
	}


	/* carousel tagline */

	.site-banner-header a {
	  font-size: 0.4em;
	  opacity: .5;
	  background-color: transparent;
	  box-shadow: none;
	  line-height: 0.5;
	}
