/* FILE: main/content/__pagination.scss */

//
// Pagination
//





.pagination {
	@extend %font_weight_300;
	margin-top: $golden +rem;
	text-align: center;

	> span.dots,
	.extend {
		background: transparent;
		color: inherit;
	}

}



/** center pagination **/
#main nav.pagination {
  display: block;
  margin: auto;
}
@media screen and (min-width: 672px) {
  nav.pagination a, nav.pagination span.page-numbers {
    margin-right: 0;
  }
}
