
/** events **/

/* th.simcal-nav.simcal-prev-wrapper, th.simcal-nav.simcal-current, th.simcal-nav.simcal-next-wrapper {
    background-color: linen;
} */

table.simcal-calendar-grid {
  .simcal-calendar-head tr:nth-child(1) {
    background-color: $color_front-lbrwn-a;
  }
  .simcal-calendar-head tr:nth-child(2) {
    background-color: hsl(210, 11%, 93%);
  }
  th.simcal-current h3 {
    color: hsl(210, 11%, 93%);
  }
  .simcal-default-calendar-light .simcal-nav-button {
    color: hsl(210, 11%, 93%);
  }
  .simcal-default-calendar-light .simcal-nav-button:disabled, .simcal-default-calendar-light .simcal-nav-button:disabled:hover {
    color: $color_front-lbrwn-a !important;
  }
  .simcal-next-wrapper {
    border-radius: 0 10px 10px 0px;
  }
  .simcal-prev-wrapper {
    border-radius: 10px 0 0px 10px;
  }
  .simcal-default-calendar-light .simcal-nav-button:focus, .simcal-default-calendar-light .simcal-nav-button:hover {
    color: hsl(210, 11%, 93%);
  }
  th.simcal-nav.simcal-current h3 {
    font-family: Arial, sans-serif;
  }

 .simcal-day-has-events {
    .simcal-events-dots   {
      background-color: $color_lbrwn-b;
   }
   ul.simcal-events {
     color: white;
     .simcal-event {
       &:hover{
         text-decoration: none;
         background-color: $color_front-drkbrwn;
         font-weight: bold;
       }
     }
      li:nth-child(1) {
       background-color: hsla(211, 100%, 50%, 0.82);
     }
     li:nth-child(2) {
       background-color: hsla(134, 61%, 41%, 0.87);
     }
     li:nth-child(3) {
       background-color: hsla(354, 70%, 54%, 0.84);
     }
     li:nth-child(4) {
       background-color: hsl(45, 94%, 35%);
     }
     li:nth-child(5) {
       background-color: hsl(285, 93%, 27%);
     }
  }

 }

}

.simcal-event-bubble {
  border-radius: 20px;
  border: 2px solid $color_front-lbrwn;
}
