
// Auberge-child Custom styles

$color-front-gold: hsl(45, 100%, 51%);
$color_front-drkbrwn: hsla(43, 100%, 5%, 0.8);
$color_front-lbrwn: hsla(43, 28%, 32%, 0.83);
$color_front-lbrwn-a: hsl(30, 20%, 41%);
$color_front-bkwhite:hsl(210, 11%, 93%);
